<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <div class="login">
      <form id="login">
        <label>Username</label>
        <input type="text" placeholder="Username" />
        <br /><br />
        <label>Password</label>
        <input type="Password" placeholder="Password" />
        <br /><br />
        <input type="button" value="Log In" />
      </form>
    </div>
  </body>
</html>
